@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f7;
  background-size: auto 100vh;
  height: 100vh;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

/* breakpoints */
@media (min-width: 400px) { /* se a tela tiver pelo menos 400px, carrega estes estilos */
  body {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  background: transparent;
}

.menu {
  box-shadow: 0 1px 5px #0000001e;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #1c1c1e;
  display: block;
  padding: 10px;
  text-decoration: none;
}
/*botão do darkmode*/
.menu label {
  margin: 5px 10px 5px 10px;
}

.site-title {
  text-align: center;
  font-size: 4em;
}

.site-subtitle {
  font-weight: 300;
  text-align: center;
}

.titles span {
  height: 20%;
  color: #f2f2f7;
  font-size: 11px;
  display:flex;
  justify-content: center;
  padding: 10px;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}

.down-arrow {
  display:flex;
  justify-content: center; /* eixo y */
  margin-bottom: 25px;
}

#img-down-arrow {
  height: 30px;
  width: 30px;
}
/* dark mode */
.dark-mode {
  background: black;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-header {
  background: black;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-svg {
  fill: white;
}

.dark-section {
  background: black;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}